@font-face {
  font-family: norse-bold;
  src: url(fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --odin-green: #596d48;
  --default-input-border: #e5e7eb;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  height: 100vh;
}

label {
  display: block;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

#banner {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  flex: 1;

  justify-content: space-between;
}

#logo {
  margin-top: 20vh;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  max-height: 8rem;
  justify-content: center;
}

#image-credit{
  color: white;
  text-align: center;
  padding: 1rem;
}

#content {
  flex: 2;
  background-color: rgb(240, 240, 240);
}

#form {
  background-color: white;
}

#logo h1{
  color: white;
  font-family: norse-bold;
  font-size: 6rem;
  align-self: center;
}

#image-credit a{
  color: inherit;
}

#content > div{
  flex: 1;
  padding-left: 2rem;
  padding-right: 14rem;
}

#hero p {
  font-size: 1.5rem;
  font-weight: 600;
}

#submit button{
  color: white;
  background-color: var(--odin-green);
}

#submit a{
  color: var(--odin-green);
  text-decoration: none;
}